{% load render_bundle from webpack_loader %}
{{ episodes | json_script:"episode-completion" }}
{% render_bundle 'hunts_stats_completion' 'js' attrs='defer' %}

<p class="small">
	Numbers on bars indicate absolute number of teams solving; percentages (and bar heights) are relative to the selected
	number	of teams
</p>

Relative to teams starting:
<div class="small btn-group btn-group-toggle" data-toggle="buttons">
	<input type="radio"
				 class="btn-check"
				 name="completion-relative-to"
				 id="completion-relative-to-hunt"
				 autocomplete="off"
				 checked>
	<label class="btn btn-primary" for="completion-relative-to-hunt">Hunt</label>
	<input type="radio"
				 class="btn-check"
				 name="completion-relative-to"
				 id="completion-relative-to-puzzle"
				 autocomplete="off">
	<label class="btn btn-primary" for="completion-relative-to-puzzle">Puzzle</label>
</div>
{% for id, episode in episodes.items %}
<h6>{{ episode.name }}</h6>
<div class="chart-container">
	<canvas class="completion-chart" data-episode="{{ id }}"></canvas>
</div>
{% endfor %}
